* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #171a1d;
    font-family: Arial, Helvetica, sans-serif;
    color: #bebebe;
    font-weight: 500;
}

.bl {
    background-color: rgb(48, 49, 52);
}

.bd {
    background-color: #171a1d;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    height: 10%;
    width: 100%;
    background-color: #171a1d;
}

.main {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left {
    height: 100%;
    width: calc(25% - 50px);
    padding: 25px;
    background-color: #171a1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left .upper {
    height: calc(60% - 50px);
    width: 100%;
    margin-bottom: 25px;
    background-color: rgb(48, 49, 52);
    overflow-y: auto;
    position: relative;
}

.photo {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
}

.photo img {
    height: 30px;
    border-radius: 50;
}

.year {
    margin-top: 40px;
}

.contact,
.year,
.performance,
.achievement {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
    font-size: 16px;
}

.contact:hover,
.year:hover,
.performance:hover,
.achievement:hover {
    transform: scaleX(1.02);
}

.left .lower {
    height: calc(40% - 50px);
    width: 100%;
    background-color: rgb(48, 49, 52);
    position: relative;
}

.suggestion {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
}

.sugg_card_container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    overflow-y: auto;
} 

.sugg_card {
    gap: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
}

.sugg_card img {
    height: 30px;
    border-radius: 50;
    padding-left: 10px;
}

.middle {
    height: 100%;
    width: 50%;
    background-color: rgb(48, 49, 52);
    padding: 25px;
    position: relative;
}

.date {
    height: 40px;
    width: 96%;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg_container {
    margin-top: 40px;
    overflow-y: auto;
}

.msg {
    min-height: 40px;
    max-height: auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right {
    height: 100%;
    width: calc(25% - 50px);
    background-color: #171a1d;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_inner {
    height: calc(100% - 50px);
    width: 100%;
    background-color: rgb(48, 49, 52); 
    position: relative;
}

.important {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
    position: absolute;
    top: 0;
}

.bus,
.mess,
.time-table,
.exam,
.alumini,
.club {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #171a1d;
    border-radius: 0;
    font-size: 16px;
}

.bus:hover,
.mess:hover,
.time-table:hover,
.exam:hover,
.alumini:hover,
.club:hover {
    transform: scaleX(1.02);
}

.footer {
    height: 10%;
    width: 100%;
    background-color: #171a1d;
    display: flex;
    align-items: center;
}

.footer a {
    padding-left: 20px;
    text-decoration: none;
    color : #71767b;
}

.footer a:hover {
    text-decoration: underline;
}

/* Scroll bar */
/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #171a1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #171a1d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}
