body {
    background-color: #171a1d;
    color: #71767b;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #71767b;
}

th {
    background-color: rgb(48, 49, 52);
}

h1 {
    margin: 5px;
}
