<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Samaj-Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>

    <div class="header">
        <img src="" alt="">
    </div>

    <div class="main"> 

        <div class="left">
            <div class="upper bd">
                <div class="photo bl">
                    <img src="profile.png" alt="" class="bl">
                    <span class="bl">Manveer Anand</span>
                </div>
                <div class="year bl">1st Year</div>
                <div class="contact bl">Contact</div>
                <div class="performance bl">College performance</div>
                <div class="achievement bl">Achievement</div>
                
            </div>
            <div class="lower bd">
                <div class="suggestion bl">
                    Suggestion
                </div>
                <div class="sugg_card_container bl">
                    <div class="sugg_card bl">
                        <img src="profile.png" alt="" class="bl">
                        <span class="bl">Pawan Menna</span>
                    </div>
                </div>
            </div> 
        </div>

        <div class="middle">
           <div class="date bl">date</div>
           <div class="msg_container bl">
            <div class="msg ">khkhjvhvbhhjbhbhb</div>
           </div>
        </div>

        <div class="right">
            <div class="right_inner bd">
                <div class="important bl">Important</div>
                    <div class="bus bl">Buses</div>
                    <div class="mess bl">Mess</div>
                    <div class="time-table bl">Time-table</div>
                    <div class="exam bl">Exam Date</div>
                    <div class="alumini bl">Aluminies</div>
                    <div class="club bl">Clubs</div>
            </div> <!-- Added class "bd" -->
        </div>

    </div>

    <div class="footer">
        <a href="">About us</a>
        <a href="">Contact us</a>
        <a href="">Copy right</a>
    </div>
    
</body>
</html>
